@import "tailwindcss";

@font-face {
  font-family: 'Humanist521BT';
  src: url('/src/assets/fonts/Humanist521BT.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.font-inter {
  font-family: 'Inter', sans-serif;
}
.font-sora {
  font-family: 'Sora', sans-serif;
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*{
  /* Disable selection => disable copying */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* To prevent the page from overscrolling. */
html {
  overscroll-behavior-y: none;
}

body.no-scroll {
  overflow: hidden;
}

/* marquee images  */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 20s linear infinite;
}


.list-circle-stroke {
  list-style: none; 
  padding-left: 1.5rem; 
}

.list-circle-stroke li::before {
  content: '';
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border: 2px solid #4c4c4c; 
  border-radius: 50%;
  margin-right: 0.75rem; 
  position: relative;
  top: 0.001rem; 
}

img {
  pointer-events: none;
}
